body{
    background-color: white;
 }
 /*----------------------------------------------NAVBAR--------------------------------------------*/
 *{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 dl, ol, ul{
     margin-bottom: 0;
 }
 
 nav{
     display: flex;
     justify-content: space-around;
     align-items: center;
     min-height: 8vh;
     background-color: #1b1b1b;
     font-family:'Poppins',Arial, Helvetica, sans-serif !important;
 }
 
 .logo{
     color: #fff;
     text-transform : uppercase;
     letter-spacing: 5px;
     font-size: 20px;
 }
 
 .nav-links{
     display: flex;
     justify-content: space-around;
     width: 35%;
 }
 .nav-links li{
     list-style: none;
 }
 .nav-links a{
     color: #fff;
     text-decoration: none;
     letter-spacing: 3px;
     font-weight: bold;
     font-size: 16px;
     align-items: center;
     text-transform: uppercase;
     padding: inherit;
 }
 .nav-links a:hover{
   color: #e91e63;
 }
 .burger{
     display: none;
     cursor: pointer;
 }
 .burger div{
     width: 25px;
     height: 3px;
     background-color: rgb(226, 226, 226);
     margin: 5px;
     transition: all 0.3s ease;
 }
 @media screen and (max-width :1024px) {
     .nav-links{
         width : 60%;
     }
 }
 
 @media screen and (max-width: 768px){
     body{
         overflow-x: hidden;
     }
     .nav-links{
         position: absolute;
         right: 0px;
         height: 92vh;
         top: 8vh;
         background-color: #1b1b1b;
         display: flex;
         flex-direction: column;
         align-items: center;
         width :50%;
         transform: translateX(100%);
         transition: transform 0.5s ease-in;
     }
     .nav-links li{
         opacity: 0;
     }
     .burger{
         display: block;
     }
 }
 
 .nav-active{
     transform: translateX(0%);
     z-index: 2;
 }
 
 @keyframes navLinkFade{
     from{
         opacity: 0;
         transform: translateX(50px);
     }
     to{
         opacity: 1;
         transform: translateX(0px);
     }
 }
 
 .toggle .line1{    
     transform: rotate(-45deg) translate(-5px,6px);
 }
 .toggle .line2{    
     opacity: 0;
 }
 .toggle .line3{    
     transform: rotate(45deg) translate(-5px,-6px);
 }




 /* Reg Button */
 .regBtn{
     padding: 0.75rem 3rem;
     border-radius: 30px;
     width: 100%;
     background-color: white;
     color: #1b1b1b;
     font-weight: bold;
     border: none;
     display: flex;
     justify-content: space-around;
     align-items: center;
     font: inherit;
 }

 .regBtn:hover{
     background-color: #1b1b1b;
     color: white;
 }

 .cart{
     width: 1.35rem;
     height: 1.35rem;
     margin-right: 0.5rem;
 }
 .cart:hover{
     color: white;
 }

 section{
     position: relative;
     width: 100%;
     height: 100vh;
     display: flex;
 }

 section .imgBx
 {
     position: relative;
     width: 50%;
     height: 100%;
 }
 section .imgBx:before
 {
    content: '';
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #e91e63, #03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
 }

 section .imgBx img
 {
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 section .contentBx
 {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 70%;
     height: 100%;
 }

 
 section .contentBx .formBx
 {
    width: 50%;
 }

 section .contentBx .formBx h2
 {
     color:#607d8b;
     font-weight: 600;
     font-size: 1.5em;
     text-transform: uppercase;
     margin-bottom: 20px;
     border-bottom: 4px solid #ff4584;
     display: inline-block;
     letter-spacing: 1px;
 }

section .contentBx .formBx .inputBx
{
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx span
{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx input
{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

section .contentBx .formBx .inputBx input[type="submit"]
{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .contentBx .formBx .inputBx input[type="submit"]:hover
{
    background: #f53677;
}
section .contentBx .formBx .remember
{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}
section .contentBx .formBx .inputBx p
{
    color: #607d8b;

}

section .contentBx .formBx .inputBx p a
{
    color: #ff4584;

}

section .contentBx .formBx h3
{
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;

}

section .contentBx .formBx .sci
{
    display: flex;
    justify-content: center;
    align-items: center;

}

section .contentBx .formBx .sci li
{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607d8b;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

section .contentBx .formBx .sci li:hover
{
    background: #ff4584;
}

section .contentBx .formBx .sci li i
{
    transform: scale(2);
    filter: invert(1);
}

@media (max-width: 768px)
{
    section .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .contentBx
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .contentBx .formBx
    {
        width: 100%;
        padding: 40px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
    }

    section .contentBx .formBx h3
    {
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}



/* PROFILE OFFCANVAS RELATED STUFF */
ul.offcanvasLinks
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Poppins',Arial, Helvetica, sans-serif !important;
    list-style: none;
    width: 500px;
    padding: 0px;
}

ul.offcanvasLinks li
{
    padding: 0;
    background-color: #fff;
    margin: 0;
    width: 100%;
}


.offcanvasLinks a
{
    font-size: large;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ff4584;
    display: block;
    padding: 20px 10px;
}

.offcanvasLinks li a:hover
{
    background-color: #1b1b1b;
    opacity: 0.9;
}

.offcanvas-pfp
{
    height: 120px;
    width: 120px;
    background-color: rgb(197, 10, 10);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    z-index: 555;
    margin: 32px 0 10px 149px;
}

.offcanvas-pfp img{
    width: 120px;
    max-width: 100%;
    object-fit: cover;
    height: 120px;
    border-radius: 50%;
}

.offcanvas-body
{
    padding: 0;
    overflow-x: hidden;
}
.offcanvas-header
{
    padding: 0;
}

.offcanvasCover
{
    background-color: #1b1b1b;
    height: 150px;
    margin-bottom: 60px;
    width: 100%;
    display: block;
    position: relative;
    z-index: 5;
    border-bottom: 4px solid #e91e63;
}

.text-reset{
    margin-left: 90%;
    padding: 1rem;
    color: white;
}

.offcanvas-header .btn-close
{
    padding: 1.5rem 0.5rem;
    color: white;
}
.btn-close:focus
{
    box-shadow: none;
}


.btn-close
{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}


/* ---------------------------------------PROFILE SETTINGS-------------------------------------------------------------*/

.pfp-nav
{
    list-style: none;
    flex-direction: column;
    font-family:'Poppins',Arial, Helvetica, sans-serif !important;
    padding: 0px;
    margin: 0;
    height: 500px;
    background-color: #ffffff;
    width: 192px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid #e91e63;
}

.pfp-nav li
{
    padding: 0;
    background-color: #ffffff;
    margin: 0;
}

.pfp-nav a
{
    color: #e91e63;
    background: none;
    text-decoration: none;
    display: block;
    padding: 20px 16px 16px;
    border-left: 3px solid transparent;
    line-height: 20px;
}


.pfp-nav li a:hover
{
    color: #e91e63;
    background-color: rgba(165, 165, 165, 0.1);
    border-left-color:#eb4079;
}



.profile-box
{
    border: 1px solid  rgba(0, 0, 0, 0.2);
    border-left: 2px solid #e91e63;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 10px
}

@media (max-width: 768px)
{
    .profile-box{
        margin-left: 129px;
        width: 241px;
    }
}

.profile-box-change
{
    border: 1px solid #1b1b1b;
    border-left: 2px solid #e91e63;
    padding: 10px 10px
}

.profile-img img
{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.form-control:focus
{
    box-shadow: none;
}

.form-select:focus
{
    box-shadow: none;
}

.btn-primary
{
    background-color: #292929;
    color: #e91e63;
    border: 2px solid transparent;
}
.btn:focus
{
    box-shadow: none;
}
.btn-primary:hover
{
    background-color: #fff;
    color: #e91e63;
    border: 2px solid #e91e63;
    transition: 0.3s border ease-in-out;
    height: 0%;
}
.btn-primary:active
{
    background-color: #fff;
    color: #e91e63;
    border-color: rgb(43, 43, 43); 
}

.btn-primary:focus
{
    background-color: #fff;
    color: #e91e63;
    border-color: rgb(43, 43, 43);
    box-shadow: 0;
}

.btn-primary:focus:active
{
    box-shadow: 0 0 0 0.25rem rgba(67, 67, 68, 0.5);
}

.btn-check:focus{
    background-color: #fff;
    color: #e91e63;
    border-color: rgb(43, 43, 43);
    box-shadow: 0;
}

.error-title
{
    font-weight:900;
    text-align: center;
}
.error-content
{
    text-align: center;
}

.error-header
{
    font-weight: 900;
    text-align: center;
}
div.error-back
{
    text-align: center;
    margin-top: 5px;
}
.error-goback
{
    background-color: #f53677;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    padding: 1.25rem;
    margin-top: 5px;
}

.error-goback:hover
{
    background-color: #292929;
    color: #f53677;
}


/*-----------------------WALLET-----------------------------------*/
.balance
{
    font-weight: 900;
    font-size: 30px;
}
.profile-cash
{
    font-weight: 900;
    font-size: large;
    margin-right: 1rem;
    font-size: 30px;
}

.balloon
{
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-weight: 400;
    color: #e91e63;
    background: #383838;
    border: 1px solid #1b1b1b;
    border-radius: 3px;
    outline: 0;
    text-indent: 50px;
    transition: all .3s ease-in-out;
    justify-content: center;
}

.balloon::placeholder
{
    color: #e91e63;
}

.balloon:focus, .balloon:active
{
    color: #e91e63;
    text-indent: 0;
    background: #fff;
}

.wallet-form
{
    justify-content: center;
    text-align: center;
}

.profile-card
{
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px -5px rgba(255, 255, 255, 0.5),
                        -5px -5px -5px rgba(255, 255, 255, 0.5),
                        -5px -5px -5px rgba(255, 255, 255, 0.5);
}


.imageBtn
{
    background: none;
    border: none;
    color:#0095f6;
    font-weight: bold;
}

/* ----------------------PROFILE SETTINGS TEST BOX------------------------------
.profile-navigation
{
    width: 30%;
    float: left;
    background-color: #03a9f4;
}
.profile-links
{
    background-color: rgb(255, 255, 255);
    min-height: 92vh;
    display: block;
    justify-content: space-around;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.profile-links li
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile-links a
{
    display: block;
    text-decoration: none;
    color: #e91e63;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 20px 16px 16px;
    line-height: 20px;
    border-left: 3px solid transparent;
}

.profile-links li a:hover
{
    border-left: 3px solid #e91e63;
    background-color: rgba(219, 219, 219, 0.2);
}
.profile-link a:active
{
    border-left: 3px solid #e91e63;
}
.profile-contents
{
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.profile-img-cover
{
    justify-content: flex-start;
    flex-direction: row;
}


.profile-img-cover img
{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 20px;
}

.profile-img-side
{
    float: right;
    margin-right: 100px;
    padding: 20px;
}

.profile-img-side p
{
    font-weight: bold;
    margin-bottom: 2px;
}
.profile-img-side a
{
    text-decoration: none;
    font-weight: bold;
}

.profileInputForm
{
    text-align: center;
    padding: 20px;
}

.profileInputForm label
{
    font-weight: bold;
    margin-right: 10px;
    
}

.profileInputForm input
{
    border-radius: 4px;
    border:1px solid rgba(0, 0, 0, 0.2);
    padding: 3px;
    margin-bottom: 5px;
    display: block;
    width: 300px;
} */