body {
    background-color: #1b1b1b;
}

/*----------------------------------------------NAVBAR--------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

dl,
ol,
ul {
    margin-bottom: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #fff;
    font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
}

.logo {
    color: #1b1b1b;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #1b1b1b;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    text-transform: uppercase;
    padding: inherit;
}

.nav-links a:hover {
    color: #e91e63;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width :1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
    z-index: 2;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}




/*-------------------- Register / Login--------------------------- */
.regBtn {
    padding: 0.75rem 3rem;
    border-radius: 30px;
    width: 100%;
    background-color: white;
    color: #1b1b1b;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font: inherit;
    text-decoration: none;
}

.regBtn:hover {
    background-color: #1b1b1b;
    color: white;
}

.cart {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}

.cart:hover {
    color: white;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
}

section .imgBx:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #e91e63, #03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

section .imgBx img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}


section .contentBx .formBx {
    width: 50%;
}

section .contentBx .formBx h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx {
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

section .contentBx .formBx .inputBx input[type="submit"] {
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .inputBx input[type="submit"]:hover {
    background: #f53677;
}

section .contentBx .formBx .remember {
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}

section .contentBx .formBx .inputBx p {
    color: #607d8b;

}

section .contentBx .formBx .inputBx p a {
    color: #ff4584;

}

section .contentBx .formBx h3 {
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;

}

section .contentBx .formBx .sci {
    display: flex;
    justify-content: center;
    align-items: center;

}

section .contentBx .formBx .sci li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607d8b;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

section .contentBx .formBx .sci li:hover {
    background: #ff4584;
}

section .contentBx .formBx .sci li i {
    transform: scale(2);
    filter: invert(1);
}

@media (max-width: 768px) {
    section .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .contentBx .formBx {
        width: 100%;
        padding: 40px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
    }

    section .contentBx .formBx h3 {
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}



/* --------------------PROFILE OFFCANVAS RELATED STUFF --------------*/
ul.offcanvasLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
    list-style: none;
    width: 500px;
    padding: 0px;
}

ul.offcanvasLinks li {
    padding: 0;
    background-color: #fff;
    margin: 0;
    width: 100%;
}


.offcanvasLinks a {
    font-size: large;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ff4584;
    display: block;
    padding: 20px 10px;
}

.offcanvasLinks li a:hover {
    background-color: #1b1b1b;
    opacity: 0.9;
}

.offcanvas-pfp {
    height: 120px;
    width: 120px;
    background-color: rgb(197, 10, 10);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    z-index: 555;
    margin: 32px 0 10px 149px;
}

.offcanvas-pfp img {
    width: 120px;
    max-width: 100%;
    object-fit: cover;
    height: 120px;
    border-radius: 50%;
}

.offcanvas-body {
    padding: 0;
    overflow-x: hidden;
}

.offcanvas-header {
    padding: 0;
}

.offcanvasCover {
    background-color: #1b1b1b;
    height: 150px;
    margin-bottom: 60px;
    width: 100%;
    display: block;
    position: relative;
    z-index: 5;
    border-bottom: 4px solid #e91e63;
}

.text-reset {
    margin-left: 90%;
    padding: 1rem;
    color: white;
}

.offcanvas-header .btn-close {
    padding: 1.5rem 0.5rem;
    color: black;
}

.btn-close:focus {
    box-shadow: none;
}


.btn-close {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}


/* ---------------------------------------PROFILE SETTINGS-------------------------------------------------------------*/

.pfp-nav {
    list-style: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
    padding: 0px;
    margin: 0;
    display: flex;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px){
    .pfp-nav{
        display: block;
        border-bottom: 3px solid #e91e63;
    }
}

.pfp-nav li {
    padding: 0;
    margin: 0;
}

.pfp-nav a {
    color: #e91e63;
    background: none;
    text-decoration: none;
    display: block;
    padding: 20px 16px 16px;
}


.pfp-nav li a:hover {
    color: #e91e63;
    background-color: rgba(165, 165, 165, 0.1);
}



.profile-box {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 10px
}


.profile-box-change {
    padding: 10px 10px
}

.profile-img img {
    border-radius: 50%;
    height: 168px;
    width: 162px;
}
.profile-img-p img {
    border-radius: 50%;
    height: 168px;
    width: 162px;
}
.profile-spans{
    text-align: left;
}
.profile-spans h4{
    display: inline-block;
    width: 50px;
}

.profile-spans span{
    margin-left: 100px;
}


.form-control:focus {
    box-shadow: none;
}

.form-select:focus {
    box-shadow: none;
}

.btn-primary {
    background-color: #eb4079;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 2px;
}

.btn:focus {
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #fff;
    color: #e91e63;
    border: 2px solid #e91e63;
    transition: 0.3s border ease-in-out;
    height: 0%;
}

.btn-primary:active {
    background-color: #fff;
    color: #e91e63;
    border-color: rgb(43, 43, 43);
}

.btn-primary:focus {
    background-color: #fff;
    color: #e91e63;
    border-color: rgb(43, 43, 43);
    box-shadow: 0;
}

.btn-primary:focus:active {
    box-shadow: 0 0 0 0.25rem rgba(67, 67, 68, 0.5);
}

.btn-check:focus {
    background-color: #fff;
    color: #e91e63;
    border-color: rgb(43, 43, 43);
    box-shadow: 0;
}

.error-title {
    font-weight: 900;
    text-align: center;
    color: #fff;
}

.error-content {
    text-align: center;
    color: #fff;
}

.error-header {
    font-weight: 900;
    text-align: center;
    color: #fff;
}

div.error-back {
    text-align: center;
    margin-top: 5px;
}

.error-goback {
    background-color: #f53677;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    padding: 1.25rem;
    margin-top: 5px;
}

.error-goback:hover {
    background-color: #292929;
    color: #f53677;
}


/*-----------------------WALLET-----------------------------------*/
.balance {
    font-weight: 900;
    font-size: 30px;
}

.profile-cash {
    font-weight: 900;
    font-size: large;
    margin-right: 1rem;
    font-size: 30px;
}

.balloon {
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-weight: 400;
    color: #e91e63;
    border: 1px solid #4c4c4c;
    border-radius: 3px;
    outline: 0;
    text-indent: 40px;
    transition: all .3s ease-in-out;
    justify-content: center;
}

.balloon::placeholder {
    color: #e91e63;
}

.balloon:focus,
.balloon:active {
    color: #e91e63;
    text-indent: 0;
    background: #fff;
}

.wallet-form {
    justify-content: center;
    text-align: center;
}

.wallet-btn{
    background-color: #e91e63;
    color: white;
    border-radius: 25px;
    width: 20%;
}

.wallet-btn:hover{
    background-color: #1b1b1b;
    color: white;
}

.imageBtn {
    background: none;
    border: none;
    color: #0095f6;
    font-weight: bold;
}

.searchCover {
    height: 60vh;
    width: 100%;
    background-image: url("/static/BOOK\ BG.png");
    background-position: center;
    background-size: cover;
}

.searchBar {
    border-radius: 25px;
    border: none;
    width: 400px;
    height: 2.8em;
    max-width: 100%;
}

.search-bar-form {
    position: absolute;
    bottom: 190px;
    left: 230px;
}

.featured-books {
    color: white;
    background-color: #eb4079;
    border-radius: 25px;
    font-family: 'Noto Sans', sans-serif;
}

.searchBar:focus-visible {
    outline: none;
}

hr:not([size]) {
    color: #e91e63;
    height: 5px;
}

hr {
    opacity: 1;
}

.description-length {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-images {
    max-width: 100%;
    height: 400px;
    margin: 100px;
    margin-left: 150px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.carousel-item {
    background-color: #1b1b1b;
}

.carousel-caption {
    right: -13%;
    bottom: 13.25rem;
}

.rating {
    font-weight: 900;
    font-size: 30px;
}

.h22 {
    color: #e91e63;
}




.genre-container
{
    height: 300px;
    border-radius: 50px;
}


.genre-card{
    border: none;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 150px;
    background-color: #1b1b1b;
    transition: transform .3s;
    background-color: transparent;
}

.genre-card:hover{
    transform: scale(1.6);
}

.genre-body:hover{
    background-color: transparent;
}

.genre-img{
    height: 100px;
}


.genre-caption{
    font-size: 10px;
}
.genre-title
{
    float: left;
}
.genre-btn
{
    float: right;
}
div.card-footer{
    background-color: #1b1b1b;
}

.btn-primary:hover{
    height: 100%;
}

.readmore-txt
{
    font-weight: 900;
}

.bookSearch{
    border-radius: 25px;
    border: none;
    width: 300px;
    height: 2.5em;
    max-width: 100%;
    text-align: center;
    padding: 10px;
}

.bookSearch:focus-visible{
    outline: none;
}


.searchContainer{
    position: relative;
    margin-left: 500px;
}
.searchContainer .fa-magnifying-glass
{
    position: absolute;
    top: 10px;
    left: 249px;
    color: black;
}

@media screen and (max-width: 750px){
    .searchContainer .fa-magnifying-glass{
        left : 156px;
    }
}


.genreBTN{
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    text-align: center;
    background-color: #eb4079;
    color: white;
    display: inline-block;
    width: 100%;
}

.genreBTN:hover
{
    background-color: #fff;
    color: #1b1b1b;
}

/*----------------------------------Cart-----------------------*/
.shopping-cart{
    margin-top: -45px;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    height: 100%;
}

.product{
    margin-top: 20px;
}

.product-quantity{
    text-align: center;
}

.product-quantity input{
    width: 40px;
    border-radius: 4px;
    text-align: center;
    border:1px solid black;
}

.product-quantity input:focus-visible{
    outline: #e91e63;
}

.product-image img{
    width: 100px;
}

.remove-product{
    border-radius: 15px;
    background-color: #a11717;
    border: none;
    text-align: center;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.remove-product:hover{
    background-color: #7d1313;
    color: white;
}


.totals{
    /* background-color: #e91e63; */
    float: right;
    margin-top: 50px;
}

.totals-item{
    border-bottom: 1px solid #727272;
    margin-bottom: 10px;
}

.totals-item label{
    font-weight: 600;
    float: left;
}

#buy{
    background-color: #eb4079;
    color: white;
    border: 0;
    padding: 0.5em;
    border-radius: 15px;
    width: 100%;
    margin-top: 20px;
}

#buy:hover{
    background-color: #1b1b1b;
}

.column-labels h4{
    font-weight: 900;
    margin-bottom: 10px;
}

.column-labels{
    border-bottom: 5px solid #e91e63;
    margin-bottom: 10px;
}


/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
    content: '$';
  }


.profile-container{
    background-color: #fff;
    border-radius: 25px;
    padding: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
}


/*----------LIBRARY--------*/
.library{
    color: white;
    text-align: center;
    font-size: 60px;
    position: relative;
    margin-top: 50px;
}


.library-card{
    background-color: #fff;
    border-radius: 15px;
    height: 100%;
    padding: 50px;
}

.library-wrapper{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(255, 165, 220), #1b1b1b);
    display: inline-block;
}

.noCash{
    color: white;
    text-align: center;
    margin-top: 50px;
    border-radius: 50px;
    background-color: #a11717;
    font-size: 20px;
    display: none;
}

.noCash-btn
{
    background-color: #a11717;
    border: none;
    position: absolute;
    right: 200px;
    color: white;
}

.history-btn{
    text-decoration: none;
    padding: 0.5rem;
    background-color: #573e55;
    color: white;
}

.history-btn:hover{
    background-color: white;
    color: #573e55;
}

.history-btn-div{
    text-align: center;
    margin-top: 20px;
}

.owned{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
}


.hide{
    display: none;
}