{% extends "layout.html" %}

{% block title %}
Cart
{% endblock %}

{% block main %}
<h1 class="text-white mb-5">Shopping Cart</h1>

<div class="shopping-cart">
  <div class="column-labels row">
    <h4 class="col-4 text-center">Item Name</h4>
    <h4 class="col-2">Price</h4>
    <h4 class="col-2">Quantity</h4>
    <h4 class="col-2"></h4>
    <h4 class="col-2">Total</h4>
  </div>

  {% for row in rows %}
  <div class="product">
    <div class="row">
      <div class="product-image col-2">
        <img src="/static/Book covers/{{ row["picture"] }}">
      </div>
      <div class="product-details col-2">
        <div class="product-title">{{ row["title"] }}</div>
      </div>
      <div class="product-price col-2">{{ row["price"] }}</div>
      <div class="product-quantity col-2">
        <input type="number" name="quantity" value="1" min="1">
      </div>
      <div class="product-removal col-2">
        <a class="remove-product" href="/cart/remove/{{ row["title"] }}">
          Remove
        </a>
      </div>
      <div class="product-line-price col-2"></div>
    </div>
  </div>
  {% endfor %}

  <div class="totals col-4">
    <div class="totals-item">
      <label class="col-10">Grand Total</label>
      <div class="totals-value" id="cart-subtotal">71.97</div>
    </div>
  </div>

  <button id="buy">Checkout</button>
</div>
<div class="noCash">
  Insufficient Funds!!!
  <button class="noCash-btn">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
<script>

  const products = document.querySelectorAll(".product")
  const buyBtn = document.querySelector("#buy")


  buyBtn.addEventListener("click", () => {
    const cartData = []

    // Looping over the rows of products
    for (const product of products) {

      // going through each product and creating an object out of it
      const entry = {
        title: product.querySelector(".product-title").innerText,
        quantity: product.querySelector("input").value
      }

      cartData.push(entry)

    }

    fetch("/cart", {
      method: "POST",
      headers: { "content-type": "application/json" },
      body: JSON.stringify(cartData)
    })
      .then(res => {
          if (res.status === 400){
            document.querySelector(".noCash").style.display = "block";
          }
      })
      .catch(err => {
        // ...
      })


  })

  // removing the product on click
  $(".remove-product").on('click', function () {
    $(this).closest('div.product').remove();
  });


  // removing the insufficient funds onClick

  $(".noCash-btn").on('click', function () {
    $(this).closest(".noCash").remove();
  })



</script>

{% endblock %}