{% extends "layout.html" %}

{% block title %}
    login
{% endblock %}

{% block main %}


    <section>
        <div class="imgBx">
            <img src="/static/pexels-pixabay-261887.jpg">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>Login</h2>
                <form action="/login" method="post">
                    <div class="inputBx">
                        <span>Username</span>
                        <input type="text" name="username" autocomplete="off" autofocus>
                    </div>
                    <div class="inputBx">
                        <span>Password</span>
                        <input type="password" name="password">
                    </div>
                    <div class="remember">
                        <label><input type="checkbox" name="">Remember me</label>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value ="Sign in">
                    </div>
                    <div class="inputBx">
                        <p>Don't have an account? <a href="/register">Sign up</a></p>
                    </div>
                </form>
                <h3>Login with social media</h3>
                <ul class="sci">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                </ul>
            </div>
        </div>
    </section>


{% endblock %}