{% extends "layout.html" %}

{% block title %}
    password change
{% endblock %}

{% block main %}
<div class="container-fluid profile-container">
      <div class="col-12">
            <ul class="pfp-nav">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/profile/edit">Edit Profile</a></li>
                <li><a href="/profile/password/change">Change Password</a></li>
                <li><a href="/profile/wallet">Wallet</a></li>
                <li><a href="/profile/language">Language</a></li>
            </ul>
      </div>
      
      <div class="col-12 profile-box-change">
        <form>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label ">Password</label>
              <input type="password" class="form-control mx-auto w-auto" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">New Password</label>
              <input type="password" class="form-control mx-auto w-auto" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn wallet-btn">Submit</button>
          </form>
      </div>
    </div>
{% endblock %}