{% extends "layout.html" %}

{% block title %}
profile
{% endblock %}

{% block main %}
<div class="container-fluid profile-container" style="text-align: left;">
    <div class="col-12">
        <ul class="pfp-nav">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/profile/edit">Edit Profile</a></li>
            <li><a href="/profile/password/change">Change Password</a></li>
            <li><a href="/profile/wallet">Wallet</a></li>
            <li><a href="/profile/language">Language</a></li>
        </ul>
    </div>
    <div class="col-12 profile-box-change">
        <div class="col-12 profile-img-p mb-5">
            <img src="/static/pictures/{{ session["picture"] }}">
        </div>
        <div class="col-12 profile-spans">
            <h4>Username: </h4>
            <span>{{ username }}</span>
        </div>

        <div class="div col-12 profile-spans">
            <h4>Email: </h4>
            <span>{{ email }}</span>
        </div>

        <div class="div col-12 profile-spans">
            <h4>Gender: </h4>
            <span>{{ gender }}</span>
        </div>
    </div>

</div>
{% endblock %}