{% extends "layout.html" %}

{% block title %}
{{ genre }}
{% endblock %}

{% block main %}
<h4 class="text-white">Search Results</h4>
  <div class="container">
    <div class="row">
      {% for row in rows %}
      <div class="col-4">
        <div class="card mb-3" style="max-width: 540px; height: 220px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/static/Book covers/{{ row["picture"] }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><span class="readmore-txt">Title: </span> {{ row["title"] }}</h5>
                <p class="card-text"><span class="readmore-txt">Author: </span>{{ row["author"] }}</p>
                <p class="card-text"><span class="readmore-txt">Price: </span>{{ row["price"] | usd }}</p>
                <p class="card-text"><span class="readmore-txt">Rating: </span>{{ row["rating"] }}</p>
                <p class="card-text"><span class="readmore-txt">Published Year: </span>{{ row["publishedDate"] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}